{% extends 'core/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="text-center">
        <h1><mark>{{ article.title }}</mark></h1>
        <a class="text-decoration-none" href="{% url 'private:article-list' %}">Back to your articles</a>
        {% if article.is_ready == True %}
        <h3>Article's status: <strong>Ready</strong></h3>
        {% elif article.is_ready == False %}
        <h3>Article's status: <strong>Not Ready</strong></h3>
        {% endif %}
        <p class="text-muted">Articles with status "Ready" are shown to users while articles with status "Not Ready" are
            not.</p>
        <form action="{% url 'private:set-article-status' id=article.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary">Click here to change article's status</button>
        </form>
        <div class="container py-5">
            <a class="btn btn-primary" href="{% url 'private:update-article-through-detail' id=article.id  %}">Update
                article</a>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                Delete Article
            </button>
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Are you sure?</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="btn-group">
                                <form action="{% url 'private:delete-article' id=article.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Yes</button>
                                </form>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <h3>Number of sections currently created: <mark>{{ article.sections.all|length }}</mark></h3>
            <a href="{% url 'private:post-section' id=article.id %}" class="text-decoration-none">Create new section</a>
        </div>
        {% for section in article.sections.all|dictsort:"number" %}
        <div class="container p-3 my-3 border">
            <a class="text-decoration-none fw-bold"
                href="{% url 'private:section-detail' id=article.id slug=section.slug %}">{{ section.number}}.
                {{ section.title }}</a>
            <p>
                {% if section.published == section.updated %}
                <strong>Publication date:</strong>Publication date: {{ section.published.date }}
                {% else %}
                <strong>Publication date:</strong> {{ section.published.date }} |
                <strong>Update date:</strong> {{ section.updated.date }}
                {% endif %}
            </p>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <a href="{% url 'private:update-section-article-detail' id=article.id slug=section.slug %}"
                        class="btn btn-primary btn-sm">Update</a>
                </div>
                <div class="col-auto">
                    <form action="{% url 'private:delete-section' id=article.id slug=section.slug %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}