{% extends 'core/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="text-center">
        <h1>Total number of your articles: {{ articles|length }} </h1>
        <a class="btn btn-primary text-decoration-none" href="{% url 'private:post-article' %}">Post new
            article</a>
    </div>
    {% for article in articles %}
    <div class="container p-3 my-3 border">
        <p class="text-center h4"><a href="{% url 'private:article-detail' id=article.id %}">{{ article.title }}</a></p>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Article's status:</strong>
                    {% if article.is_ready == True %}
                    <mark>Ready</mark>
                    {% elif article.is_ready == False %}
                    <mark>Not Ready</mark>
                    {% endif %}
                </p>
                <p><strong>Number of sections:</strong> {{ article.sections_number }}</p>
            </div>
            <div class="col-sm-4">
                {% if article.published == article.updated %}
                <p><strong>Publication date:</strong> {{ article.published.date }}</p>
                {% else %}
                <p><strong>Publication date:</strong> {{ article.published.date }}</p>
                <p><strong>Update date:</strong> {{ article.updated.date }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <div class="btn-group-vertical">
                    <a class="btn btn-primary btn-sm mb-2"
                        href="{% url 'private:update-article-through-list' id=article.id %}">Update
                        article</a>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#myModal">
                        Delete Article
                    </button>
                    <div class="modal" id="myModal">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Are you sure?</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="btn-group">
                                        <form action="{% url 'private:delete-article' id=article.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-danger" type="submit">Yes</button>
                                        </form>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <br>
{% endfor %}
</div>
{% endblock %}