{% extends 'core/base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center">Update your article: <mark>{{ article.title }}</mark>
    </h1>
    <div class="text-center">
        <a href="{% url 'private:article-detail' id=article.id %}" class="text-decoration-none">Go to article</a>
    </div>
    {% load crispy_forms_tags %}
    <div class="container py-5">
        <form action="{% url send_post_to id=article.id %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}